.paginationBtn{
	border-radius: 10px;
	background-color: #F0F8FF;
	text-align: center;
}

.paginationBtn:hover{
	background-color: #5F9EA0;
}

.activePage{
	background-color: #5F9EA0 !important;
}

.sortIcon{
	height: 20px;
	width: 20px;
}

.queryFiltered{
	display: none;
}
